In [1]:
import pandas as pd

### 1. Write a Pandas program to create

In [3]:
# a. Datetime object for Jan 15 2012.
pd.to_datetime('Jan 15 2021')

Timestamp('2021-01-15 00:00:00')

In [28]:
# b. Specific date and time of 9:20 pm.
pd.to_datetime('9:20pm')

Timestamp('2024-10-22 21:20:00')

In [37]:
pd.to_datetime('Jan 15 2021')

Timestamp('2021-01-15 00:00:00')

In [38]:
# c. Local date and time.
pd.Timestamp('now')

Timestamp('2024-10-22 14:30:01.702479')

In [26]:
# d. A date without time.
pd.to_datetime('now').date()

datetime.date(2024, 10, 22)

In [27]:
# e.current date
pd.Timestamp('now')

Timestamp('2024-10-22 13:12:59.549412')

In [32]:
# f. Time from a datetime.
pd.to_datetime('Jan 15 2021 9:20pm').time()

datetime.time(21, 20)

In [31]:
# g. Current local time.
pd.to_datetime('now').time()

datetime.time(13, 27, 14, 274849)

In [39]:
# a) Specific date using timestamp
timestamp_date = pd.Timestamp('2023-01-01')

# b) Date and time using timestamp
timestamp_datetime = pd.Timestamp('2023-01-01 10:15:30')

# c) Adding time to current local date using timestamp
current_date_with_time = pd.Timestamp.today().replace(hour=10, minute=15, second=0)

# d) Current date and time using timestamp
current_timestamp = pd.Timestamp.now()

print(timestamp_date)
print(timestamp_datetime)
print(current_date_with_time)
print(current_timestamp)
print(pd.Timestamp.today())

2023-01-01 00:00:00
2023-01-01 10:15:30
2024-10-22 10:15:00.515945
2024-10-22 14:37:16.515945
2024-10-22 14:37:16.516940

In [40]:
# 3.
# a) Create a date from year, month, day
date = pd.Timestamp(year=2023, month=5, day=10)

# b) Create a date from string format
date_from_string = pd.to_datetime('2023-05-10')

print(date)
print(date_from_string)

2023-05-10 00:00:00
2023-05-10 00:00:00

In [43]:
# 4. 
# Specified date
specified_date = pd.Timestamp('2023-05-10')

# Day before and after
day_before = specified_date - pd.Timedelta(days=1)
day_after = specified_date + pd.Timedelta(days=1)

# Days between two dates
start_date = pd.Timestamp('2023-05-01')
end_date = pd.Timestamp('2023-05-10')
days_between = (end_date - start_date).days

print(day_before, day_after, days_between)

2023-05-09 00:00:00 2023-05-11 00:00:00 9

In [53]:
# 5. 

import numpy as np

# Create time series with two index labels and random values
dates = pd.date_range('2023-01-01', periods=4, freq='D')
time_series = pd.Series(np.random.randn(4), index=dates)

# Print type of the index
index_type = type(time_series.index)

print(time_series, index_type)

2023-01-01   -0.960735
2023-01-02    0.649684
2023-01-03    0.634911
2023-01-04    0.986894
Freq: D, dtype: float64 <class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [54]:
# 6.
date_strings = ['2023-01-01', '2023-01-02', '2023-01-03']
time_series_from_strings = pd.to_datetime(date_strings)

print(time_series_from_strings)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03'], dtype='datetime64[ns]', freq=None)

In [55]:
# 7.

# Create time series object with time-indexed data
dates = pd.date_range('2023-01-01', periods=10)
data = pd.Series(np.random.randn(10), index=dates)

# Select dates of the same year (2023) and select dates between two dates
same_year_data = data['2023']
selected_data = data['2023-01-03':'2023-01-05']

print(same_year_data, selected_data)

2023-01-01    0.861114
2023-01-02   -0.209144
2023-01-03    0.641734
2023-01-04   -0.191773
2023-01-05   -1.330453
2023-01-06   -1.265662
2023-01-07   -0.476654
2023-01-08   -1.461246
2023-01-09    0.314520
2023-01-10   -0.635824
Freq: D, dtype: float64 2023-01-03    0.641734
2023-01-04   -0.191773
2023-01-05   -1.330453
Freq: D, dtype: float64

In [56]:
# 8.
start_date = pd.Timestamp('2023-01-01')
date_range = pd.date_range(start=start_date, periods=10)

print(date_range)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [57]:
# 9.
# Create a whole month of dates
month_dates = pd.date_range('2023-05-01', '2023-05-31', freq='D')

# Max and Min timestamps
max_timestamp = month_dates.max()
min_timestamp = month_dates.min()

print(month_dates, max_timestamp, min_timestamp)

DatetimeIndex(['2023-05-01', '2023-05-02', '2023-05-03', '2023-05-04',
               '2023-05-05', '2023-05-06', '2023-05-07', '2023-05-08',
               '2023-05-09', '2023-05-10', '2023-05-11', '2023-05-12',
               '2023-05-13', '2023-05-14', '2023-05-15', '2023-05-16',
               '2023-05-17', '2023-05-18', '2023-05-19', '2023-05-20',
               '2023-05-21', '2023-05-22', '2023-05-23', '2023-05-24',
               '2023-05-25', '2023-05-26', '2023-05-27', '2023-05-28',
               '2023-05-29', '2023-05-30', '2023-05-31'],
              dtype='datetime64[ns]', freq='D') 2023-05-31 00:00:00 2023-05-01 00:00:00

In [59]:
# 10.
three_month_freq = pd.date_range('2023-01-01', periods=4, freq='3ME')

print(three_month_freq)

DatetimeIndex(['2023-01-31', '2023-04-30', '2023-07-31', '2023-10-31'], dtype='datetime64[ns]', freq='3ME')

In [60]:
# 11.
hourly_durations = pd.timedelta_range(start='0 hours', periods=10, freq='H')

print(hourly_durations)

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00'],
               dtype='timedelta64[ns]', freq='h')

C:\Users\DAI.STUDENTSDC\AppData\Local\Temp\ipykernel_11648\863854681.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_durations = pd.timedelta_range(start='0 hours', periods=10, freq='H')

In [61]:
# 12.
df = pd.DataFrame({'year': [2023], 'day_of_year': [100]})
df['date'] = pd.to_datetime(df['year'].astype(str) + df['day_of_year'].astype(str), format='%Y%j')

print(df)

   year  day_of_year       date
0  2023          100 2023-04-10

In [62]:
# 13.
df = pd.DataFrame({'year': [2023], 'month': [5], 'day': [10]})
timestamps = pd.to_datetime(df)

print(timestamps)

0   2023-05-10
dtype: datetime64[ns]

In [63]:
# 14.
date = pd.Timestamp('2023-05-10')
is_business_day = date.isoweekday() in range(1, 6)

print(is_business_day)

True

In [72]:
# 15.
last_working_day = pd.date_range('2023-01-01', '2023-12-31', freq='BM')

print(last_working_day)

DatetimeIndex(['2023-01-31', '2023-02-28', '2023-03-31', '2023-04-28',
               '2023-05-31', '2023-06-30', '2023-07-31', '2023-08-31',
               '2023-09-29', '2023-10-31', '2023-11-30', '2023-12-29'],
              dtype='datetime64[ns]', freq='BME')

C:\Users\DAI.STUDENTSDC\AppData\Local\Temp\ipykernel_11648\3423670313.py:2: FutureWarning: 'BM' is deprecated and will be removed in a future version, please use 'BME' instead.
  last_working_day = pd.date_range('2023-01-01', '2023-12-31', freq='BM')

In [65]:
# 16.
times = pd.date_range('2023-01-01', periods=5, freq='H')
times_combined = times.strftime('%H:%M')

print(times_combined)

Index(['00:00', '01:00', '02:00', '03:00', '04:00'], dtype='object')

C:\Users\DAI.STUDENTSDC\AppData\Local\Temp\ipykernel_11648\2672198737.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  times = pd.date_range('2023-01-01', periods=5, freq='H')

In [66]:
# 17. 
epoch_time = 1638316800  # Unix timestamp for 2021-12-01
regular_timestamp = pd.to_datetime(epoch_time, unit='s')

# Convert to specific timezone (e.g., 'America/New_York')
tz_timestamp = regular_timestamp.tz_localize('UTC').tz_convert('America/New_York')

print(regular_timestamp, tz_timestamp)

2021-12-01 00:00:00 2021-11-30 19:00:00-05:00

In [70]:
# 18.
time_series_with_tz = pd.date_range('2023-01-01', periods=5, freq='D', tz='Europe/London')

print(time_series_with_tz)

DatetimeIndex(['2023-01-01 00:00:00+00:00', '2023-01-02 00:00:00+00:00',
               '2023-01-03 00:00:00+00:00', '2023-01-04 00:00:00+00:00',
               '2023-01-05 00:00:00+00:00'],
              dtype='datetime64[ns, Europe/London]', freq='D')

In [74]:
# 19.
tz_aware_series = pd.date_range('2023-01-01', periods=5, tz='UTC')
tz_naive_series = tz_aware_series.tz_localize(None)

print(tz_naive_series)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05'],
              dtype='datetime64[ns]', freq=None)

In [75]:
# 20.
timestamp1 = pd.Timestamp('2023-01-01 10:00', tz='UTC')
timestamp2 = pd.Timestamp('2023-01-01 15:00', tz='America/New_York')

time_difference = timestamp1 - timestamp2

print(time_difference)

-1 days +14:00:00