In [7]:
import numpy as np
import pandas as pd

In [9]:
# Creating a series from a Python list
myindex = ['USA','Canada','England']
mydata = [1776,1867,1821]

In [13]:
# Just the numeric index
myser = pd.Series(data=mydata)
myser

0    1776
1    1867
2    1821
dtype: int64

In [17]:
# Now the named index
myser = pd.Series(data=mydata,index=myindex)
myser

USA        1776
Canada     1867
England    1821
dtype: int64

In [19]:
# Creating a series from NumPy array
# First create a NumPy array using the earlier list
ran_data = np.random.randint(0,100,4)
ran_data

array([26, 61, 59, 23])

In [21]:
names = ['Alice','Bob','Charles','Dave']
ages = pd.Series(ran_data,names)
ages

Alice      26
Bob        61
Charles    59
Dave       23
dtype: int32

In [23]:
# Creating a series from a dictionary
ages = {'Sammy':5,'Frank':10,'Spike':7}
ages

{'Sammy': 5, 'Frank': 10, 'Spike': 7}

In [25]:
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

In [27]:
# Using named index
# Imaginary Sales Data for 1st and 2nd Quarters for a Global Company
q1 = {'Japan':80,'China':450,'India':200,'USA':250}
q2 = {'Brazil':100,'China':500,'India':210,'USA':260}

In [29]:
# Convert into Pandas Series
sales_Q1 = pd.Series(q1)
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [31]:
sales_Q2 = pd.Series(q2)
sales_Q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [35]:
# Call values based on Named Index
sales_Q1['Japan']

80

In [37]:
# Integer Based Location information also retained!
sales_Q1[0]

C:\Users\alish\AppData\Local\Temp\ipykernel_3848\3172792608.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_Q1[0]

80

In [39]:
# Series operations
# Grab just the index keys
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [41]:
# Can Perform Operations Broadcasted across entire Series
sales_Q1*2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [45]:
sales_Q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [47]:
# Notice how Pandas informs you of mismatch with NaN
sales_Q1+sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [49]:
# You can fill NAN with any matching data type value you want
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64